// ==========================================================================
// Base Styles
// ==========================================================================

* {
	box-sizing: border-box;
	color: $black;
}

// Images 

img {
	width: 100%;
}